@use postcss-nested;

:root {
  --highlight: #D6DC22;
  --outline-width: 0.25em;
  
  --rick-skin: #C1B8B4;
  --rick-hair: #B7D8EB;
  --rick-mouth:#792F28;
  --rick-teeth: #D4CB8D;
  --rick-coat: #fff;
  
  --morty-skin: #F2CFB3;
  --morty-mouth: #61302E;
  --morty-top: #F0ED81;
}


@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

.eye {
  .ball, .ball:before, .ball:after {
    position: absolute;
    height: 0.9em;
    width: 0.3em;
    border-radius: 0.15em;
    background-color: black;
  }

  .ball {
    &:before, &:after {
      content: '';
      display: block;
    }
    &:after {
      transform: rotateZ(60deg);
    }
    &:before {
      transform: rotateZ(-60deg);
    }
  }
}

.rick {
  position: absolute;
  z-index: 10;
  transform: rotateZ(-8deg);
  top: 20em;
  left: 150em;
  font-size: 15%;
  
  .head, .outer-head {
    height: 31em;
    width: 19em;
    position: relative;
  }
  
  .outer-head {
    .mouth {
      width: 84%;
      height: 4.5em;
      background-color: var(--rick-mouth);
      position: absolute;
      top: 68%;
      left: calc(50% - 41%);
      border-top-left-radius: 20% 50%;
      border-top-right-radius: 20% 50%;
      border-bottom-left-radius: 60% 70%;
      border-bottom-right-radius: 60% 70%;
      border: var(--outline-width) solid black;
      z-index: 54;
      background: 
        radial-gradient(100% 40% at 90% 2%, black 16%, transparent 16%),
        radial-gradient(100% 40% at 10% 2%, black 16%, transparent 16%),
        radial-gradient(28% 130% at 86.5% 11%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(22% 160% at 74.5% 18%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(25% 140% at 63.5% 25%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(27% 140% at 52.5% 28%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(22% 140% at 41.5% 22%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(24% 150% at 30.5% 18%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(20% 150% at 20% 9%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(23% 110% at 10% 10%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        
        radial-gradient(28% 130% at 86.5% 91%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(22% 160% at 74.5% 100%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(25% 140% at 63.5% 98%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(27% 140% at 52.5% 96%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(22% 140% at 41.5% 94%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(24% 150% at 30.5% 93%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(20% 150% at 20% 89%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(23% 110% at 10% 80%, var(--rick-teeth) 16%, black 16%, black 20%, transparent 16%),
        radial-gradient(23% 110% at 10% 80%, black 20%, var(--rick-mouth) 20%)
        ;
      
      &:before {
        content: '';
        display: block;
        background-color: var(--rick-skin);
        height: 4em;
        width: 80%;
        position: relative;
        left: calc(50% - 39%);
        top: -2.7em;
        border-bottom-left-radius: 60% 70%;
        border-bottom-right-radius: 60% 70%;
        border-bottom: var(--outline-width) solid black;
      }
      
      &:after {
        content: '';
        display: block;
        background-color: var(--rick-skin);
        position: relative;
        height: 1em;
        width: 96%;
        top: -5.1em;
      }
    }
    
    .lips {
      height: 6em;
      width: 8em;
      position: absolute;
      top: 20.6em;
      left: 0.3em;
      z-index: 55;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border: var(--outline-width) solid black;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      transform: rotateZ(30deg);
      
      &.left:before {
        content: '';
        display: block;
        background-color: var(--rick-skin);
        height: 1em;
        width: 3em;
        left: 1.5em;
        top: -0.1em;
        position: relative;
      }
      
      &.right {
        background-color: var(--rick-skin);
        transform: rotateZ(150deg);
        left: 11.5em;
        z-index: 53;
      }
    }
    
    .ear {
      position: absolute;
      height: 3.5em;
      width: 3.5em;
      background-color: var(--highlight);
      border: var(--outline-width) solid black;
      border-radius: 50%;
      top: 17em;
      
      &:before {
          content: '';
          display: block;
          border-radius: 50%;
          position: relative;
          background-color: var(--rick-skin);
          height: 100%;
          width: 100%;
      }
      
      &.left {
        left: -1.8em;
        overflow: hidden;
        
        &:before {
          height: 130%;
          top: -0.4em;
          left: var(--outline-width);
        }
      }
      
      &.right {
        right: calc(-1.8em - var(--outline-width));
        
        &:before {
          left: calc(var(--outline-width) * -1);
        }
      }
    }
    
    .hair {
      position: relative;
      
      &:before {
        background-color: var(--rick-hair);
        position: absolute;
        display: block;
        content: '';
        width: 23.9em;
        height: 30em;
        top: -1.2em;
        left: -1.6em;
        border-top-left-radius: 50% 34%;
        border-top-right-radius: 50% 47%;
        border-bottom-left-radius: 50% 38%;
        border-bottom-right-radius: 50% 48%;
      }
      
      & > * {
        --hair-width: 6em;
        --hair-height: 10em;
        position: absolute;
        width: 0;
        height: 0;
        border-left: var(--hair-width) solid transparent;
        border-right: var(--hair-width) solid transparent;
        border-bottom: var(--hair-height) solid black;
        
        &:before {
          content: '';
          display: block;
          border-left: var(--hair-width) solid transparent;
          border-right: var(--hair-width) solid transparent;
          border-bottom: var(--hair-height) solid var(--rick-hair);
          position: relative;
          top: 0.7em;
          left: calc(var(--hair-width) * -1);
        }
        
        &:after {
          content: '';
          display: block;
          position: relative;
          width: calc(var(--hair-height) - 4em);
          border-left: 2.0em solid transparent;
          border-right: 2.0em solid transparent;
          border-bottom: 0.3em solid var(--highlight);
          top: calc(var(--hair-height) * -0.4);
          transform: rotateZ(251deg);
          left: -4em;
        }
      }
      
      .top {
        --hair-width: 4em;
        --hair-height: 12em;
        top: -12em;
        left: -1em;
        transform: rotateZ(-25deg);
        
        
        &.top-right {
          --hair-width: 4.5em;
          transform: rotateZ(25deg);
          left: 11em;
          
          &:before {
            border-left: calc(var(--hair-width) * 1.2) solid transparent;
            border-right: calc(var(--hair-width) * 1.2) solid transparent;
            border-bottom: calc(var(--hair-height) * 1.2) solid var(--rick-hair);
            left: calc(var(--hair-width) * -1.2)
          }
          
          &:after {
            left: -4.0em;
            top: -8em;
            transform: rotateZ(250deg);
          }
        }
        
        &.left, &.right {
          --hair-width: 4em;
          --hair-height: 11em;
          top: -4.2em;
          left: -8.6em;
          transform: rotateZ(-65deg);
          
          &:after {
            left: -3.7em;
            top: -5em;
            transform: rotateZ(250.5deg);
          }
        }
        
        &.right {
          transform: rotateZ(55deg);
          left: 19.7em;
        }
      }
      .middle-top {
        --hair-width: 3em;
        --hair-height: 8em;
        top: 5.5em;
        
        &.left{
          transform: rotateZ(-85deg);
          left: -8.8em;
          
          &:after {
            left: -5.2em;
            top: -3.5em;
            transform: rotateZ(110deg);
          }
        }
        
        &.right {
          left: 23em;
          transform: rotateZ(90deg);
          &:after {
            left: -2.9em;
            top: -3.5em;
            transform: rotateZ(249.5deg);
          }
        }
      }
      
      .middle-bottom {
        --hair-width: 2.8em;
        --hair-height: 6em;
        top: 12.3em;
        
        &.left {
          left: -8em;
          transform: rotateZ(-90deg);
          &:after {
            left: -4.2em;
            top: -2.5em;
            transform: rotateZ(114deg);
          }
        }
        &.right {
          left: 22em;
          top: 12em;
          transform: rotateZ(90deg);
          
          &:after {
            left: -1.9em;
            top: -2.5em;
            transform: rotateZ(245.5deg);
          }
        }
      }
      
      .bottom {
        --hair-width: 2.4em;
        --hair-height: 5.5em;
        top: 18.2em;
        
        &.left {
          transform: rotateZ(-110deg);
          left: -6.5em;
          &:after {
            display: none;
          }
        }
        &.right {
          transform: rotateZ(110deg);
          left: 21.3em;
          top: 17.9em;
          &:after {
            left: -1.8em;
            top: -2.4em;
            transform: rotateZ(247deg);
          }
        }
      }
      
      .bottom-back {
        --hair-width: 1.8em;
        --hair-height: 4em;
        top: 22.6em;
        &.left {
          transform: rotateZ(-130deg);
          left: -3em;
          &:after {
            display: none;
          }
        }
        &.right {
          transform: rotateZ(130deg);
          left: 19em;
          top: 22.3em;
          &:after {
            left: -1.4em;
            top: -1.6em;
            transform: rotateZ(247deg);
          }
        }
      }
    }
  }
  .head {
    background-color: var(--highlight);
    border-top-left-radius: 50% 38%;
    border-top-right-radius: 50% 38%;
    border-bottom-left-radius: 50% 38%;
    border-bottom-right-radius: 50% 38%;
    border: var(--outline-width) solid black;
    overflow: hidden;
    
    &:before {
      border-top-left-radius: 50% 38%;
      border-top-right-radius: 50% 38%;
      border-bottom-left-radius: 50% 38%;
      border-bottom-right-radius: 50% 38%;
      position: relative;
      left: calc(var(--outline-width) * -1);
      top: var(--outline-width);
      content: '';
      height: 100%;
      width: 100%;
      background-color: var(--rick-skin);
      display: block;
      background: 
        radial-gradient(circle at 74% 36.2%, var(--rick-skin) 24.5%, transparent 24.5%),
        radial-gradient(circle at 77.5% 38.8%, var(--highlight) 22%, transparent 22%),
        radial-gradient(circle at 77.5% 43%, black 19%, transparent 19%),
        radial-gradient(circle at 26% 23.8%, var(--rick-skin) 35%, transparent 35%),
        radial-gradient(circle at 26% 42.1%, var(--highlight) 19%, transparent 19%),
        radial-gradient(circle at 26% 43.3%, black 19%, transparent 19%),
        radial-gradient(circle at 25% 30%, var(--rick-skin) 50%, var(--rick-skin) 50%)
        ;
    }

    .brow {
      width: 75%;
      height: 1.8em;
      border: var(--outline-width) solid black;
      position: absolute;
      top: 4.4em;
      left: calc(50% - 37.5% - var(--outline-width));
      z-index: 50;
      background-color: var(--rick-hair);
      border-top-left-radius: 80% 100%;
      border-top-right-radius: 80% 100%;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      transform: rotate(-1deg);

      &:after {
        content: '';
        display: block;
        border-top: var(--outline-width) solid black;
        background-color: var(--rick-skin);
        height: 1.8em;
        width: 98%;
        left: 0.2em;
        bottom: -1.2em;
        border-top-left-radius: 80% 100%;
        border-top-right-radius: 80% 100%;
        position: absolute;
      }

    }

    .eye {
      background-color: white;
      height: 7.5em;
      width: 7.5em;
      position: absolute;
      top: 7.6em;
      z-index: 50;
      border-radius: 50%;
      border: var(--outline-width) solid black;
      
      .ball {
        top: 52%;
        left: calc(50% - var(--outline-width));
      }
      
      &.left {
        left: 1em;
      }

      &.right {
        right: 0.9em;
      }
    }
      
    .nose {
      height: 3.5em;
      width: 2em;
      position: absolute;
      top: 15.5em;
      left: calc(50% - 1em - var(--outline-width));
      border: var(--outline-width) solid black;
      border-top-width: 0;
      border-bottom-left-radius: 50% 90%;
      border-bottom-right-radius: 50% 90%;
      background-color: var(--highlight);
      overflow: hidden;
      z-index: 55;
      
      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        top: calc(var(--outline-width) * -1);
        left: calc(var(--outline-width) * -1);
        border-top-width: 0;
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        background-color: var(--rick-skin);
      }
    }
  }
  .body {
    background-color: var(--rick-coat);
    height: 19em;
    width: 10em;
    left: 0.2em;
    position: absolute;
    transform: rotateZ(13deg);
    border: var(--outline-width) solid black;
    border-bottom-left-radius: 5em;
    border-top-left-radius: 3em;
    
    .arm {
      background-color: var(--rick-coat);
      width: 8em;
      height: 8.5em;
      border: var(--outline-width) solid black;
      border-left: 0;
      border-top: 0;
      position: absolute;
      top: 12.2em;
      left: 3.5em;
      transform: rotateZ(30deg);
      
      .top-line {
        position: absolute;
        border-top-left-radius: 40% 50%;
        border-top: var(--outline-width) solid var(--highlight);
        height: 6em;
        width: 8em;
        left: -2.5em;
        top: 2.2em;
        transform: rotateZ(-25deg);
        z-index: 31;
        
        &:before {
          position: absolute;
          content: '';
          border-top: var(--outline-width) solid black;
          border-top-left-radius: 40% 50%;
          height: 6em;
          width: 8em;
          top: -0.5em;
          transform: rotateZ(-1deg);
          z-index: 30;
        }
      }
      
      .cuff {
        height: 9em;
        width: 5em;
        border: var(--outline-width) solid black;
        background-color: #A8CECB;
        position: absolute;
        top: -0.4em;
        left: 4.9em;
        transform: rotateZ(-25deg);
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        z-index: 32;
        overflow: hidden;
        
        
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 2em;
          width: 4em;
          top: 8.3em;
          background-color: lightgrey;
          border: var(--outline-width) solid black;
          transform: rotateZ(15deg)
        }
      }
    }
  }
}